<ActionBar title="Search" class="action-bar">
</ActionBar>

<GridLayout rows="auto, *, auto">
    <StackLayout row="0" class="search">
        <GridLayout columns="*,auto" class="search-container">
            <TextField col="0" [(ngModel)]="bourbon" hint="Name" class="search-text"></TextField>
            <Label col="1" text="&#xf002;" (tap)="searchBourbons()" class="icon"></Label>
        </GridLayout>
    </StackLayout>

    <ListView row="1" [items]="items | async" id="bourbon-group" class="list-group">
        <ng-template let-item="item">
            <GridLayout columns="*">
                <Label column="0" [text]="item.name" id="bourbon-item" class="list-group-item"></Label>      
            </GridLayout>
        </ng-template>
    </ListView>

    <StackLayout row="2">
        <uc-footer></uc-footer>
    </StackLayout>
</GridLayout>