<GridLayout rows="auto, *, auto">
    <StackLayout row="0" class="search">
        <Label horizontalAlignment="center" class="header" text="Search"></Label>
        <GridLayout columns="*,auto" class="search-container">
            <TextField col="0" [(ngModel)]="bourbon" hint="Name" class="search-text"></TextField>
            <Label col="1" text="&#xf002;" (tap)="searchBourbons()" class="icon"></Label>
        </GridLayout>
    </StackLayout>

    <ListView row="1" [items]="items | async" class="bourbon-list-group" separatorColor="transparent">
        <ng-template let-item="item">
            <GridLayout columns="*" class="bourbon-list-item" (tap)="viewDetail(item.id)">
                <Label column="0" [text]="item.name" class="bourbon-name"></Label> 
                <Image class="bourbon-image" [src]="item.imageUrl" col="1" height="75" width="100"></Image>     
            </GridLayout>
        </ng-template>
    </ListView>

    <StackLayout row="2">
        <uc-footer></uc-footer>
    </StackLayout>
</GridLayout>