ActionBar {
  background-color:  #B13729;
  color: #F7F3E3;
  font-family: 'Blackoak Std';
}

.search {
  background-color: #B13729;
  padding: 5 10;
}

.search-container {
  background-color: rgba(212, 144, 120, .6);
  margin: 0 25;
  border-radius: 2%;
}

.search-text {
}

.icon {
  height: 15;
  vertical-align: center;
  margin: 0 10;
  color: white;
}