<GridLayout rows="*, auto">
    <StackLayout row="0" orientation="vertical" verticalAlignment="center" minHeight="100">
        <TextField [(ngModel)]="user.email" hint="Email Address" autocorrect="false" autocapitalizationType="none"></TextField>
        <TextField [(ngModel)]="user.name" hint="Name" autocorrect="false" autocapitalizationType="none"></TextField>
        <!-- <Label text="Phone Number: "></Label>
        <Label [text]="email.phoneNumber"></Label>  -->
        <Button text="Update Information" (tap)="updateAccountInformation()"></Button>
    </StackLayout>

    <StackLayout row="1">
         <uc-footer></uc-footer>
    </StackLayout>
</GridLayout>