.container {
    padding-bottom: 15;
    background-image: url('res://bg_login');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

Image {
    margin-top: 5;
    margin-bottom: 20;
}

Button, TextField {
    margin: 0, 16, 10;
    background-color: #F7F3E3;
}

.submit-button {
    width: 50%;
}

.login-link {
    color: #F7F3E3;
    horizontal-align: center;
}

Button {
  height: 40;
}