<ActionBar title="Account" class="action-bar">
    <ActionItem text="Logout" (tap)="logout()" ios.position="right"></ActionItem>
</ActionBar>

 <StackLayout orientation="vertical" horizontalAlignment="center" verticalAlignment="center" minHeight="100">
    <StackLayout orientation="horizontal">
        <Label text="Email: "></Label>
        <Label [text]="user.email"></Label>
    </StackLayout>    
    <StackLayout orientation="horizontal">
        <Label text="Name: "></Label>
        <Label [text]="user.name"></Label>
    </StackLayout>    
    <StackLayout orientation="horizontal">
         <Label text="Phone Number: "></Label>
        <Label [text]="email.phoneNumber"></Label> 
    </StackLayout>
    <Button text="Update Information" [nsRouterLink]="['/update-account']"></Button>
</StackLayout> 